body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
 border-bottom: #0B4451 !important;
}

.navbar-nav {
    margin: auto;
}


.form-inline {
    margin: 30px;
}

.nav-link {
    color: #0B4451;
    font-size: 24px;
    margin-left: 40px;
    margin-right: 40px;
}

.jumbotron {
    padding-top: 80px;
    padding-left: 40px;
    height: 800px;
    background-image: url("../images/Hero.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.products {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.flexchild {
    align-items: flex-end;
    padding: 100px;
}

h1 {
    font-size: 83px !important;
    font-weight: bold !important;
}

h2 {
    font-size: 70px;
}

h3 {
    font-size: 60px;
}

h4 {
    font-size: 35px;
}

.lead {
    width: 40%;
    font-size: 29px;
}

p {
    font-size: 29px;
}


button {
      background-color: #0B4451;
      border: none;
      color: white;
      border-radius: 5px;
      width: 438px;
      height: 89px;
      font-size: 29px;
  }

.flexchild button {
width: 306px;
height: 69px;

  }

.flexchild img {
    align-content: flex-end;
}

footer {
background-color: #303030;
height: 150px;
color: white;
align-items: center;
padding-top: 50px;
}

footer div {
    display: flex;
    flex-direction: row;
    margin: auto;
}